<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.msa.timetable">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:name="com.example.msa.timetable.TimetableApp">
        <activity android:name="com.example.msa.timetable.Activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.msa.timetable.Activities.DashboardActivity" />
        <activity android:name="com.example.msa.timetable.Activities.ChoiceActivity" />
        <activity android:name=".Activities.AboutActivity" android:parentActivityName=".Activities.DashboardActivity"/>
        <activity android:name="com.example.msa.timetable.Activities.InputActivity"
            android:parentActivityName="com.example.msa.timetable.Activities.DashboardActivity"></activity>
    </application>

</manifest>